# Build output & Binaries
build/
bin/
*.dll
*.so
*.dylib
*.a
*.lib
*.obj
*.o
*.exe
tests/cpp_mock/isi_mock_host
tests/cpp_mock/zmq-headers/
tests/cpp_mock/fbs-headers/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.dist-info/
dist/
.venv/
.briefcase/
.briefcase-wheels/
logs/
.pytest_cache/
.coverage
htmlcov/

# Local game / test runtime configurations
*.ini
!default_config/

# IDEs & Editor configs
.vscode/
.idea/
*.swp
*~
.DS_Store
